<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class='container'>
    <a class="navbar-brand" href="#">Вай-вай</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/all">Архив</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsops">Спонсорам</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            О сайте
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/team">Команда</a>
            <a class="dropdown-item" href="/history">История</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline" method='POST' action='login'>
      <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email" name='email'>
      <input class="form-control mr-sm-2" type="password" placeholder="Пароль" aria-label="Password" name='password'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
    </form>
  </div>
</nav>
